Source: lame
Section: unknown
Priority: optional
Maintainer: Stefan Karrmann <S.Karrmann@gmx.net>
Standards-Version: 3.1.1

Package: lame
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
